body {
  background: #fff;
  min-height: 100vh;
}

header {
  color: #333;
  width: 100%;

  h1 {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app {
  flex: 1;
}