.search-box-container {
  height: 10vh;
  min-height: 100px;
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul {
    padding-top: 10px;
    font-size: 0.8em;
  }
  li {
    display: inline-block;
    border-right: solid 1px #ccc;
    padding: 0 5px;

    &:last-child {
      border: none;
    }
  }
  a {
    color: #999;
    text-transform: uppercase;
  }
  .search-box {
    border-bottom: solid 2px #ccc;
  }
  input[type=text] {
    padding: 10px;
    background: #fff;
    border: none;
    outline: none;

    color: #333;
    font-size: 25px;
    width: 300px;
    max-width: 90%;
  }


}