.track-page {
  h1 {
    font-family: $font-family-secondary;
  }

  .track-detail {
    display: flex;
    .image {
      padding-right: 2em;
    }
  }
  .social-networks {
    margin-top: 20px;
    span {
      padding: 10px;
      font-size: 1.3em;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .links ul{
      display: inline-block;
      li:last-child {
        border-right: solid 1px #ccc;
      }
    }
    .social-networks {
      display: inline-block;
      margin-top: 0;
      span {
        padding: 5px;
        font-size: 1.1em;
      }
    }
  }
  .links {
    ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    ul {
      padding-top: 10px;
      font-size: 0.8em;
    }
    li {
      display: inline-block;
      border-right: solid 1px #ccc;
      padding: 0 5px;

      &:last-child {
        border: none;
      }
    }
    a {
      color: #999;
      text-transform: uppercase;
    }
  }

}
// Organize later
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}